<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.koboro.articleman.mapper.ArticlemanMapper">
<!-- 根据文档id和类型查询上传记录 -->
 <select id="findArticlemaneByCidAndType" resultType="cn.koboro.articleman.model.ArticlemanEntity">
   select * from koboro_articleman where c_id=#{cId} and type=#{type}
 </select>
</mapper>
